# Ignore Visual Studio temporary files, build results, and user-specific files
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore .vs directory and contents
SWDProject_BE/.vs/

# Ignore specific .vs files
SWDProject_BE/.vs/SWDProject_BE/v17/.suo
SWDProject_BE/.vs/SWDProject_BE/v17/DocumentLayout.json

# Ignore build results and related files
bin/
obj/
Debug/
Release/
*.dll
*.pdb
*.exe
*.json

# Ignore specific bin and obj directories
SWDProject_BE/BusinessLayer/bin/
SWDProject_BE/BusinessLayer/obj/
SWDProject_BE/DataLayer/obj/
SWDProject_BE/SWDProject_BE/bin/
SWDProject_BE/SWDProject_BE/obj/

# Ignore AssemblyInfo and related cache files
*.AssemblyInfo.cs
*.AssemblyInfoInputs.cache
*.assets.cache
*.csproj.AssemblyReference.cache
*.sourcelink.json

# Ignore various Visual Studio files
.vs/
*.vssscc
*.vscode

# Ignore local history
.localhistory/

# Ignore coverage files
coverage/
*.lcov

# Ignore Mac/Linux system files
.DS_Store
*.DS_Store
._*
.Spotlight-V100
.Trashes

# Ignore Windows system files
Thumbs.db
ehthumbs.db
